<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>



<body>
  <div id="grande" (focus)="dameNumeros(ejemplo.value)">
  <div class=item1> <h1>Aplicación teléfono</h1></div>

  <!-- El # está para poderlo usar de referencia al hacer click. -->
  <input #ejemplo type="text" id="name" name="name" (keyup.enter)="dameNumeros(ejemplo.value)">
  <button (click)="dameNumeros(ejemplo.value)">Buscar</button>
  <div class=item2><h3 class=item21>Introduce el número de teléfono.</h3></div>
  <!-- Creo un container que solo aparece cuando se ha buscado un número. -->
  <ng-container *ngIf="mostrar==true && numeroEnConsulta!=''" >
    <table border=1>
      
    <tr  class="cabecera"><td>Creador</td><td>Fecha</td><td id="contenido">Contenido</td><td>Detalles</td><td>Peligrosidad</td><td>Impacto</td><td>Completada</td></tr>
      <tr *ngFor="let dato of arrNotas"><td>{{dato.creador}}</td>
        <td>{{dato.fecha}}</td>
        <td id="contenido">{{dato.contenido}}</td>
        <td>{{dato.detalles}}</td>
        <td>{{dato.peligrosidad}}</td>
        <td>{{dato.impacto}}</td>
        <td *ngIf="dato.completada==1"><input type="checkbox" (change)="checkUncheck(dato)" checked ></td>
        <td *ngIf="dato.completada==0"><input type="checkbox" (change)="checkUncheck(dato)"></td>
        <td><ngbd-modal-component [notaActual]=dato></ngbd-modal-component></td></tr>
    </table>
 </ng-container>

 
 <ngbd-modal-component *ngIf="numeroEnConsulta!=''" [soloTelefono]=ejemplo.value></ngbd-modal-component>

 <ng-container *ngIf="personaEnMemoria!=undefined" >
  <p>Nombre: {{personaEnMemoria.nombre}}</p>
  <p>Detalles: {{personaEnMemoria.detalles}}</p>
  <p>{{personaEnMemoria.nivelContento}}</p>
</ng-container>

 
</div>

    
</body>

</html>