<svg-icon *ngIf="gradoConfianza!=5" src="../assets/svg/muyContento.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza==5" src="../assets/svg/muyContentoMarcado.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza!=4" src="../assets/svg/contento.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza==4" src="../assets/svg/contentoMarcado.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza!=3" src="../assets/svg/neutro.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza==3" src="../assets/svg/neutroMarcado.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza!=2" src="../assets/svg/triste.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza==2" src="../assets/svg/tristeMarcado.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza!=1" src="../assets/svg/enfadado.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
<svg-icon *ngIf="gradoConfianza==1" src="../assets/svg/enfadadoMarcado.svg" [svgStyle]="{ 'width.vw':5}"></svg-icon>
