

<form [formGroup]="formularioNota" class="form-horizontal" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group w-100" >
    <label class="center-block w-100">
      Creador:
      <input class="form-control form-control-sm" formControlName="creador">
      Fecha:
      <input class="form-control form-control-sm" formControlName="fecha">
      Telefono:
      <input class="form-control form-control-sm" formControlName="telefono">
      Contenido:
      <input class="form-control form-control-sm" formControlName="contenido">
      Detalles:
      <textarea class="form-control form-control-sm" formControlName="detalles"></textarea>
      Peligrosidad:
      <input class="form-control form-control-sm" formControlName="peligrosidad">
      Impacto:
      <input class="form-control form-control-sm" formControlName="impacto">

      <button type="submit"
            [disabled]="formularioNota.pristine" class="btn btn-success">Save</button> &nbsp;
    </label>
  </div>
</form>
<p>Form value: {{ formularioNota.value | json }}</p>
<p>Form status: {{ formularioNota.status | json }}</p>