

<form [formGroup]="formularioNota" class="form-horizontal" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group w-100" >
    <label class="center-block w-100">
      Creador:
      <input class="form-control form-control-sm" formControlName="creador">
      
      <input id="fecha" class="form-control form-control-sm" formControlName="fecha" hidden>
      Telefono:
      <input class="form-control form-control-sm" formControlName="telefono">
      Contenido:
      <input (keyup)="desguardar()" class="form-control form-control-sm" formControlName="contenido">
      <div *ngIf="contenido.errors?.required" class="msgerror">
        La nota no puede estar vacía.
      </div>
      Detalles:
      <textarea (keyup)="desguardar()" class="form-control form-control-sm" formControlName="detalles"></textarea>
      Peligrosidad:
      <input (keyup)="desguardar()" class="form-control form-control-sm" formControlName="peligrosidad">
      <div *ngIf="peligrosidad.errors?.required||peligrosidad.errors?.min||peligrosidad.errors?.max" class="msgerror">
        La peligrosidad ha de estar entre 1 y 9.
      </div>
      Impacto:
      <input (keyup)="desguardar()" class="form-control form-control-sm" formControlName="impacto">
      <div *ngIf="impacto.errors?.required||impacto.errors?.min||impacto.errors?.max" class="msgerror">
        El impacto ha de estar entre 1 y 9.
      </div>

      <button type="submit" [disabled]="formularioNota.pristine" *ngIf="soloTelefono==undefined&&guardado==false" class="btn btn-success">Guardar Cambios</button>
      <button type="submit" [disabled]="formularioNota.pristine" *ngIf="soloTelefono!=undefined&&guardado==false" class="btn btn-success">Guardar nueva nota</button>
      <button type="submit" disabled *ngIf="guardado==true" class="btn btn-success">Datos guardados!</button> &nbsp;
            
    </label>
  </div>
</form>
